.heading {
    width: 100%;
    background-color: rgb(174, 255, 228);
}
.h1 {
    font-size: large;
    border-color: rgb(216, 237, 255);
    box-shadow: 7px 7px 7px rgb(216, 237, 255);
    background-color: cornflowerblue;
}
.h5 {
    font-size: small;
    border-color: rgb(216, 237, 255);
    box-shadow: 4px 4px 4px rgb(216, 237, 255);
}
canvas {
    width: 30%;
    height: 10%;
    border-radius: 10px;
    border-color: blueviolet;
    box-shadow: 20px 20px 20px blueviolet;
}